/*------ background colors ------*/

$bg-color-1: #169399;          //Dark cyan
$bg-color-2: #c6fdff;          //Very pale cyan
$bg-color-3: #000;             //Black
$bg-color-4: #e1e5ed;          //Light grayish blue
$bg-color-5: #004346;          //Very dark cyan


/*--------- font colors ---------*/

$color-1: #7de5ea;             //Soft cyan
$color-2: #000;                //Black
$color-3: #fff;                //White
$color-4: #77faff;             //Very light cyan


/*--------- radio size ---------*/

$rb-size-1: 30px;